:root {
		  --main-bg-color: #B14949;
		  --main-highlight-color: #f3ce6a;
		  
		  --gray-bg-color: #EBEBEB;
			--gray-letter-color: #949494;
		  --gray-border-color: #D5D5D5;

		  --dark-bg-color: #A4A4A4;
		  --dark-letter-color: #646464;
		  --dark-border-color: #949494;
		}
		h1, h2, h3, h4 {
			font-family: 'Georgia';
			margin: 2px;
		}
		.btn {
			border-radius: 20px;
	    box-shadow: 3px 3px 3px gray;
	    font-size: 16px;
	    line-height: 1.3;
		}
		.btn--primary {
			border: 1px solid var(--main-border-color);
	    background-color: var(--main-bg-color);
	    color: var(--main-letter-color);
		}
		.btn--secondary {
			border: 1px solid var(--gray-border-color);
	    background-color: var(--gray-bg-color);
	    color: var(--gray-letter-color);
		}
		.layout-viewButton {
			width: 100px; 
		}
		.layout {
  		width: 660px;
  		display: grid;
  		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  		column-gap: 10px;
  		row-gap: 1em;
		}
		.layout > * {
		  display: inline-block;
		}
		.layout > .hasParent {
			position: relative;
		}
		.layout > .hasParent:before { 
    	content: "--->";
    	position: absolute;
  		right: 100%;   
  		white-space: nowrap;     
		}
		/* The Modal (background) */
		.modal {
		    display: block; /* Hidden by default */
		    position: fixed; /* Stay in place */
		    z-index: 1; /* Sit on top */
		    left: 0;
		    top: 0;
		    width: 100%; /* Full width */
		    height: 100%; /* Full height */
		    overflow: auto; /* Enable scroll if needed */
		    background-color: rgb(0,0,0); /* Fallback color */
		    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		}
		/* Modal Content */
		.modal-content {
		    position: relative;
		    top: 20%;
		    background-color: #fefefe;
		    margin: auto;
		    padding: 0;
		    width: 250px;
		    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		    animation-name: animatetop;
		    animation-duration: 0.4s
		}
		/* Add Animation */
		@keyframes animatetop {
		    from {top: -300px; opacity: 0}
		    to {top: 20%; opacity: 1}
		}
		/*modal Form css*/
		.modal-label {
			width: 50px;
			font-family: 'helvetica';
			font-size: 16px;
			display: inline-block;
			color: #343434;
		}
		.modal-input {
	    width: 150px;
	    padding: 4px 4px;
	    margin: 4px 0px;
	    display: inline-block;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-sizing: border-box;
		}
		
		.modal-submitButton {
	    border: 1px solid var(--gray-border-color);
	    background-color: var(--gray-bg-color);
	    color: var(--gray-letter-color);
	  }
	  .modal-submitButton:hover{
	  	border: 1px solid var(--dark-border-color);
	  	background-color: var(--dark-bg-color);
	  	color: var(--dark-letter-color);
	  	transition: background-color 0.1s;
	  }
		/* The Close Button */
		.modal-closeButton {
		    color: #FFF;
		    float: right;
		    font-size: 28px;
		    font-weight: bold;
		}

		.modal-closeButton:hover,
		.modal-closeButton:focus {
		    color: var(--gray-border-color);
		    text-decoration: none;
		    cursor: pointer;
		    transition: color 0.2s;
		}
		/* Modal Header */
		.modal-header {
		    padding: 2px 16px;
		    background-color: var(--main-bg-color);
		    color: white;
		}

		/* Modal Body */
		.modal-body {padding: 20px 16px;}
		/* Modal Footer */
		.modal-footer {
		    padding: 2px 16px;
		    color: var(--gray-border-color);
		    display: flex;
		    justify-content: center;
		    font-size: 24px;
		}
		.modal-footer span.progress-indicator::after {	
			content: "•";
			padding-right: 8px;
		}
		.modal-footer .highlight {
			color: var(--main-highlight-color);
		}